div(class="section footer my-footer")
    div.container
      div(class="content has-text-centered footer-text")
        p Timezoner @Copyright 2017 by Chingu-Voyage-Bears1-Team
        p View Source Code at: 
          a(class="icon" href="https://github.com/sego90/slack-timezoner" target='_blank')
            i(class="fa fa-github")