div(class="section footer my-footer")
    div.container
      div(class="content has-text-centered")
        p #{title} @Copyright 2017 by Chingu-Voyage-Bears1.
        p View Source Code at: 
          a(class="icon" href="https://github.com/sego90/slack-timezoner")
            i(class="fa fa-github")