doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel="stylesheet", <link href='https://fonts.googleapis.com/css?family=Asap:400,400italic,500,500italic,600,600italic,700,700italic')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/hero.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/cc8c1f7624.js")
   
  body
    block content
