doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/hero.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/cc8c1f7624.js")
   
  body
    block content
