section(class="hero is-primary is-large header-image")
    div.hero-head
      header.nav
        div.container
          div.nav-left
            a(class="nav-item" href="#")
              img(src="../images/kronos2.png" alt="Logo")
          span.nav-toggle
            span
            span
            span
          div(id='mobile-nav' class="nav-right nav-menu")
            a(class="nav-item is-active" href="/") Install
            a(class="nav-item" href="/support") Support
            a(class="nav-item" href="/privacy") Privacy
            span.nav-item
              a(class="button is-info is-outlined is-inverted" href='https://github.com/sego90/slack-timezoner' target="_blank")
                span.icon
                  i(class="fa fa-github")
                span Download
    div.hero-body
      div(class="container has-text-centered")
        h2(class="title title-size")  Translate your time input into individual Team Members' timezones.
        h3(class="subtitle nav-sub") A bot for Slack
        div(class="count-bkg")
          p Downloads: #{num}
        br
        p
        a(href=installButtonLink target="_blank")  
          img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" 
          srcset="https://platform.slack-edge.com/img/add_to_slack@2x.png 2x, https://platform.slack-edge.com/img/add_to_slack.png 1x")