doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    //- link(rel='stylesheet', href='/stylesheets/landing.css')
    link(rel='stylesheet', href='/stylesheets/hero.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/cc8c1f7624.js")
   
  body
    block content
