extends layout

block content
  section(class="hero is-primary is-large header-image")
    div.hero-head
      header.nav
        div.container
          div.nav-left
            a(class="nav-item" href="#")
              img(src="../images/timezoner5.png" alt="Logo")
          span.nav-toggle
            span
            span
            span
          div(class="nav-right nav-menu")
            a(class="nav-item" href="/") Install
            a(class="nav-item is-active" href="/support") Support
            a(class="nav-item" href="/privacy") Privacy
            //- span.nav-item
            //-   a(class="button is-info is-outlined is-inverted" href=installButtonLink)
            //-     span.icon
            //-       i(class="fa fa-github")
            //-     span Download
    div.hero-body
      div(class="container has-text-centered")
        h1(class="title title-size") Timezoner
        br
        h2(class="subtitle is-3")  A Slack bot for communicating time between remote team members in different Timezones
        br
        //- p
        //-  a(href=installButtonLink)  
        //-   img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" 
        //-   srcset="https://platform.slack-edge.com/img/add_to_slack@2x.png 2x, https://platform.slack-edge.com/img/add_to_slack.png 1x")
  div(class="hero-body section-color")
      div(class="container main-body")
        div(class="columns is-vcentered")
         div(class="column is-10 is-offset-1")
            div(class="content blog-post section")
              br
              h1(class="title is-2") Support
              h3.is-3 Feel free to reach out with suggestions and questions.
              br
              p
                a(class= "button" href="mailto:jdrichardstech@google.com?Subject=Timezoner%20Question" target="_top") Email Us
  div(class="section footer my-footer")
    div.container
      div(class="content has-text-centered")
        p Timezoner @Copyright 2017 by Chingu-Voyage-Bears1.
        p View Source Code at: 
          a(class="icon" href="https://github.com/sego90/slack-timezoner")
            i(class="fa fa-github")

  script(async type="text/javascript" src="../js/bulma.js")   
