include includes/layout.pug

block content
  include includes/navbar.pug
  .hero-body.section-color
      .container.main-body
        .columns.is-vcentered.thanks-margin
          .column.is-10.is-offset-1
              .content.blog-post.section
                br
                figure.image.is-96x96
                  img(src="images/timeclock-simple.png" alt="timezoner clock")
                h2.title.is-2 THANK YOU!
                h3.is-3 We hope you enjoy #{title}
                br
                p Feel free to download the code on Github
                p
                a.button.is-dark(href="https://github.com/sego90/slack-timezoner" target="_blank")
                  span.icon
                      i.fa.fa-github
                  span Download
  include includes/footer.pug 
  script(async type="text/javascript" src="../js/bulma.js")
  script(type='text/javascript' src='../js/scripts.js')
  