include includes/layout.pug

block content
  include includes/navbar.pug
  div(class="hero-body section-color")
      div(class="container main-body")
        div(class="columns is-vcentered thanks-margin")
          div(class="column is-10 is-offset-1")
              div(class="content blog-post section")
                br
                figure(class="image is-96x96")
                  img(src="images/timeclock-simple.png" alt="timezoner clock")
                h1(class="title is-1") THANK YOU!
                h2.is-2 We hope you enjoy #{title}
                br
                p Feel free to download the code on Github
                p
                a(class="button is-dark" href="https://github.com/sego90/slack-timezoner" target="_blank")
                  span.icon
                      i(class="fa fa-github")
                  span Download
  include includes/footer.pug 
  script(async type="text/javascript" src="../js/bulma.js")  