body{
  font-family:'Asap', sans-serif;
}
.section.blog {
  background-color: #fff;
}

.blog-post > p {
  font-size: 19px;
}

.main-body{
  padding-top:30px;
  padding-bottom:100px;
}

.my-container{
  width:65%;
}

.count-bkg{
  background: rgba(16, 2, 2, 0.50);
  width: 40%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.my-footer{
  background:#302A20;
  color:#fff;
  padding:35px 0;
}

.thanks-margin{
  padding:0;
  margin:-5rem;
}

/* for What To Do Section */
.what-to-do{
  padding: 0 100px 100px 100px;
}

/* for navbar title */
.title-size{
  font-size:2rem;
  font-weight:500;
  letter-spacing:1px;
}

.main-image{
  background-color: #F62459;
  background-image: linear-gradient(rgba(159, 152, 166, 0.5),rgba(229, 247, 255, 0.4)),linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1440439307159-c3afc8a8e4ff?dpr=1&auto=format&crop=entropy&fit=crop&w=2000&h=1000&q=40');
}

.white-text{
  color:#fff
}

.section-color{
  background:#fff
}

@media screen and (min-width: 769px), print{
  .hero.is-large .hero-body {
       padding: 5rem 0; 
  }
  .nav-sub{
    font-size:1.75rem;
  }
}

/* mobile */
@media screen and (max-width: 768px), print{

  .my-container{
    width:95%;
  }

 .title-size{
    font-size:1.5rem;
    font-weight:300;
    letter-spacing:0;
  }

  .thanks-margin{
    padding:0;
    margin:0
  }
  .main-body{
    padding-top:0;
    padding-bottom: 0;
  }

  .hero.is-large .hero-body {
    padding-bottom:3rem;
    padding-top:2rem;   
  }

  .section{
    padding:0;
  }

  .count-bkg{
    background: rgba(16, 2, 2, 0.50);
    width: 80%;
    font-weight: 200;
    margin:0 auto;
    padding:0 5px;
    font-size:1.2rem;
  }
  
}

@media screen and (max-width: 1199px), print{
  .what-to-do{
    padding: 0;
  }
} 